/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #92E3DE;
	color: #fff;
	text-shadow: none;	
}

::selection {
	background: #92E3DE;
	color: #fff;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
$tekst: #989898;
@mixin select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html{
	min-height: 100%;
}
body {
	min-height: 100%;	
	background:
		-webkit-linear-gradient(top, #fdfdfd, #ddd);
		
	background:
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#ddd));
		
	background:
		-moz-linear-gradient(top, #fcfcfc, #ddd);
		
	background:
		-ms-linear-gradient(top, #fcfcfc, #ddd);
		
	background:
			-o-linear-gradient(top, #fcfcfc, #ddd);
}

.container{
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

header{
	#logo{
		margin: 50px 0 0 0;
		width: 182px;
	}
}

#imac{
	position: absolute;
	right: 0;
	top: 50px;
	width: 385px;
	pointer-events: none;
}

nav{
	
	margin: 28px 0 0 0;
		
	p.title{
		width: 182px;
		height: 51px;
		background: url(../img/btn_hover.png) no-repeat;
		background-size: 182px;
		text-transform: capitalize;
		color: $tekst;
		text-shadow: 0px 1px 0px #fff;
		font-family: "Helvetica Neue";
		font-size: 23px;
		font-weight: 200;
		text-align: center;
		padding-top: 10px;
		cursor: pointer;
		margin: 20px 0;
		@include select;
		
		&:hover{
			background: url(../img/btn_active.png) no-repeat;
		}
	}
	
	.arrow-left{
		position: absolute;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 9px solid rgba(245,245,245,1);
		left: -9px;
	}
	
	#salesArrow{
		top: 60px;
	}
	
	#supportArrow{
		top: 75px;
	}
	
	#contactArrow{
		top: 120px;
	}
	
	.pContent{
		
		background-image: -webkit-gradient(  linear, left top, left bottom, from(rgba(255,255,255,.8)), to(rgba(221,221,221,.9)));
		border-radius: 10px;
		padding: 1px 26px;
		font-family: georgia;
		color: $tekst;
		position: absolute;
		box-shadow: 0px 1px 0px rgba(0,0,0,.1);
		width: 250px;
		
		p{
			line-height: 1.8em;
			font-size: 18px;
			font-style: italic;
			font-weight: 200;
			text-shadow: 1px 1px 1px #fff;
		}
	}
	
	#salesContent{
		margin: -125px 0 0 250px;
	}
	
	#supportContent{
		margin: -140px 0 0 250px;
	}
	
	#contactContent{
		margin: -185px 0 0 250px;
		padding: 20px 20px;
		p{
			margin: 0;
		}
	}
}

footer{
	margin: 170px 0 0 0;
	a{
		color: $tekst;
		text-decoration: none;
	}
	
	.border
	
	{
		background-color: $tekst;
		height: 1px;
		width: 200px;
		box-shadow: 0px 1px 0px #fff;
	}
	
	p{
		bottom: 20px;
		color: $tekst;
		width: 200px;
		font-size: 11px;
		font-weight: lighter;
		margin: 0;
		padding-top: 10px;
		text-shadow: 0px 1px 0px #fff;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)
and (orientation: landscape){
/* Styles*/
	.container{
		width: 640px;
	}
	
	header{
	#logo{
		margin: 30px 0 0 0;
		width: 135px;
	}
}
	
	#imac{
		width: 280px;
		top: 30px;
		
	}
	
	nav{
	margin: 14px 0 0 0;
		p.title{
			width:135px;
			height: 45px;
			background-size: 135px;
			font-size: 12px;
			margin: 5px 0;
		}
	
	
	
	.pContent{
		width: 150px;
		
		p{
			font-size: 12px;
		}
	}
}	

	footer{
		margin: 90px 0 0 0;
		
		.border
	
	{
		width: 140px;
		}
		
		p{
			font-size: 8px;
			text-shadow: 0px 1px 0px #fff;
		}
	}
	
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)
and (orientation: portrait){
/* Styles*/

	.container{
		width: 640px;
	}
	
	header{
	#logo{
		margin: 50px 0 0 0;
		width: 180px;
	}
}
	
	#imac{
		width: 337px;
		top: 50px;
		
	}
	
	nav{
	margin: 14px 0 0 0;
		p.title{
			width:180px;
			height: 65px;
			background-size: 180px;
			font-size: 16px;
			margin: 5px 0;
			padding-top: 13px;
		}
	
	
	
	.pContent{
		width: 150px;
		
		p{
			font-size: 12px;
		}
	}
}	

	footer{
		margin: 90px 0 0 0;
		
		.border
	
	{
		width: 140px;
		}
		
		p{
			font-size: 8px;
			text-shadow: 0px 1px 0px #fff;
		}
	}
	
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
	.container{
		width: 320px;
	}
	
	#imac{
	display: none;
		
	}
	
	
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (min-width : 320px) {
/* Styles */
	.container{
		width: 320px;
	}
	
	header{
	#logo{
		margin: 20px 0 0 59px;
		width: 200px;
	}
}

	
	#imac{
	display: none;
		
	}
	
	nav{
	margin: 12px 0 0 59px;
		p.title{
			width:200px;
			height: 50px;
			background-size: 200px;
			font-size: 22px;
			margin: 6px 0;
			padding-top: 13px;
		}
	
	
	
	.pContent{
		width: 150px;
		
		p{
			font-size: 12px;
		}
	}
}	
	
	footer{
		display: none;
		
	}
	
	
}