/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
$tekst: #989898;
@mixin select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html{
	min-height: 100%;
}
body {
	min-height: 100%;
	background:
		url(../img/pattern.png),
		-webkit-linear-gradient(top, #fcfcfc, #ddd);
		
	background:
		url(../img/pattern.png),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#ddd));
		
	background:
		url(../img/pattern.png),
		-moz-linear-gradient(top, #fcfcfc, #ddd);
		
	background:
		url(../img/pattern.png),
		-ms-linear-gradient(top, #fcfcfc, #ddd);
		
	background:
		url(../img/pattern.png),
		-o-linear-gradient(top, #fcfcfc, #ddd);
}

header{
	#logo{
		margin: 100px 0 0 70px;
	}
}

#imac{
	position: absolute;
	right: 7%;
	top: 100px;
	width: 500px;
	pointer-events: none;
}

nav{
	
	margin: 20px 0 0 70px;
		
	p.title{
		width: 250px;
		height: 72px;
		background: url(../img/button_hover.png) no-repeat;
		text-transform: capitalize;
		color: $tekst;
		text-shadow: 2px 1px 1px #fff;
		font-size: 30px;
		font-weight: 200;
		text-align: center;
		padding-top: 15px;
		@include select;
		
		&:hover{
			background: url(../img/button_active.png) no-repeat;
		}
	}
	
	.arrow-left{
		position: absolute;
		width: 0;
		height: 0;
		border-top: 50px solid transparent;
		border-bottom: 50px solid transparent;
		border-right: 60px solid rgba(255,255,255,.7);
		left: -60px;
	}
	
	#salesArrow{
		top: 23px;
	}
	
	#supportArrow{
		top: 60px;
	}
	
	#contactArrow{
		top: 100px;
	}
	
	.pContent{
		background-color: rgba(255,255,255,.7);
		border-radius: 10px;
		padding: 1px 20px;
		font-family: georgia;
		color: $tekst;
		position: absolute;
		box-shadow: 1px 2px 5px rgba(0,0,0,.1);
		width: 250px;
		
		p{
			line-height: 1.8em;
			font-size: 20px;
			font-style: italic;
			font-weight: 200;
			text-shadow: 1px 1px 1px #fff;
		}
	}
	
	#salesContent{
		margin: -150px 0 0 320px;
	}
	
	#supportContent{
		margin: -190px 0 0 320px;
	}
	
	#contactContent{
		margin: -230px 0 0 320px;
		padding: 20px 20px;
		p{
			margin: 0;
		}
	}
}

footer{
	a{
		color: $tekst;
		text-decoration: none;
	}
	
	p{
		bottom: 20px;
		color: $tekst;
		border-top: 1px solid $tekst;
		width: 250px;
		font-size: 15px;
		margin: 150px 0 0 70px;
		padding-top: 10px;
		text-shadow: 1px 1px 1px #fff;
	}
}